# .gitconfig

# use separate file for username, github token etc.
[include]
    path = ~/.gitconfig.custom

[core]
    excludesfile = ~/.gitignore_global
    editor = subl -n -w
    #editor = code --wait
    autocrlf = input

[pull]
    rebase = true

[commit]
    template = ~/.stCommitMsg

[alias]
    co = checkout
    br = branch
    ci = commit
    co = checkout
    p = push
    pf = push --force
    st = status
    unstage = reset HEAD --
    last = log -1 HEAD
	plog = log --graph --pretty=format:'%h -%d %s %n' --abbrev-commit --date=relative --branches
	up = !git fetch && git rebase --autostash FETCH_HEAD

[credential]
    helper = osxkeychain

[merge]
    tool = p4mergetool

[diff]
    tool = p4mergetool

[mergetool]
    keepBackup = false

[difftool "p4mergetool"]
    cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $LOCAL $REMOTE

[mergetool "p4mergetool"]
    cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$LOCAL $PWD/$REMOTE $PWD/$MERGED
    keepBackup = false
    prompt = false
    keepTemporaries = false
    trustExitCode = false

[difftool "sourcetree"]
    cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
    path =

[mergetool "sourcetree"]
    cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
    trustExitCode = true

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
